$accordion-bg-color: #f5f5f5;
$accordion-border-color: #ddd;
$accordion-item-bg-color: #f9f9f9;
$accordion-item-text-color: #555;

// .accordion-menu {
//   list-style: none;
//   padding: 0;
//   margin: 0;

//   .nav-header {
//     padding: 8px;
//     background-color: $accordion-bg-color;
//     border-bottom: 1px solid $accordion-border-color;

//     button {
//       width: 100%;
//       text-align: left;
//       padding: 0;
//       font-size: 16px;
//       color: #333;
//     }
//   }

//   .collapse {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     li {
//       padding: 8px;
//       border-bottom: 1px solid $accordion-border-color;
//       background-color: $accordion-item-bg-color;
//       color: $accordion-item-text-color;

//       &:last-child {
//         border-bottom: none;
//       }
//     }
//   }
// }
