<div class="container">
  <div class="content">
    <div class="add-user-form">
      <h2 class="form-title">Add User</h2>

      <form [formGroup]="formGroup" (ngSubmit)="onFormSubmitted(formGroup.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" placeholder="Enter user name">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Enter user email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Enter user password">
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control" formControlName="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" >Add User</button>
      </form>
    </div>
  </div>
</div>
