.no-data-component {
    text-align: center;
    padding: 20px;
  }
  
  .icon-container {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 18px;
    color: #888;
  }
  