$transition-duration: 0.4s;

.main-header{
    background: transparent;
    border: none;
    width: fit-content;
    box-shadow: none;
    transition: all $transition-duration ease-in-out !important;
}


.main-sidebar{
    transition: all $transition-duration ease-in-out;

}
.content-wrapper {
    transition: all $transition-duration ease-in-out !important;
    background: #fff;

}

footer{
    transition: all $transition-duration ease-in-out !important;
}